body {
  color: white;
  background-color: #f2e3d9;
}

.another-div {
  height: 100vh;
}

.vertical-center {
  display: table-cell !important;
  vertical-align: middle !important;
}

.navbar {
  background-color: transparent;
  box-shadow: none;
  min-height: 76px;
  /* box-shadow: 1px 4px 15px 5px rgba(0, 0, 0, 0.11) */
}

.top-nav-collapse {
  background: #f3e5d8;
  box-shadow: 1px 4px 15px 5px rgba(0, 0, 0, 0.35);
}

/* .navbar .dropdown-menu, .top-nav-collapse .dropdown-menu {
  line-height: normal;
} */
.navbar .dropdown-menu {
  color: white;
  background: transparent;
  border: none;
  margin-left: -7px;
  width: inherit;
  box-shadow: 1px 4px 15px 5px rgba(0, 0, 0, 0.11)
}

.top-nav-collapse .dropdown-menu {
  color: black;
  background-color: #f3e5d8;
  /* border: 1px solid grey; */
  box-shadow: 1px 4px 15px 5px rgba(0, 0, 0, 0.15);
}

.navbar .dropdown-menu a, .top-nav-collapse .dropdown-menu a {
  padding: 8px;
}

.navbar .dropdown-menu a:not(.active) {
  color: white;
}

.top-nav-collapse .dropdown-menu a:not(.active) {
  color: black;
}

.top-nav-collapse .nav-link {
  color: black !important;
}

.top-nav-collapse .nav-link:hover {
  color: white !important;
}

.logo img {
  transition: .5s;
}

.top-nav-collapse .logo img {
  height: 60px;
  transition: .5s;
}

.cta {
  z-index: 10;
  margin-top: 160px !important;
  max-width: 900px;
}

.recipes {
  height: 500px;
}

.jarallax {
  height: 50vh;
  min-height: 50vh;
}

.testimonials {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url('img/place-background.jpg');
}

.testimonial-text {
  line-height: 1.5;
  letter-spacing: .6px;
  text-align: left;
}

.carousel-inner {
  height: 50vh;
}

.contact-form {
  padding: 0 10%;
}

.contact-section {
  margin-top: -60px !important;
  padding-bottom: 60px !important;
}

.card-body .mt-4 {
  color: black;
}

.contact-section .contact {
  background-image: url('img/contact-background2.jpg');
  background-size: cover;
  background-position: center;
}

iframe {
  box-shadow: 1px 4px 15px 5px rgba(0, 0, 0, 0.11);
}

.contact-background {
  background: linear-gradient(to bottom, #f9f2eb, #d9aa8c);
  height: inherit;
}

.footer {
  background-color: #100e09;
  margin-top: -50px;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

/* .about-us, .menu, .contact {
  background-image: url('img/divs-background.jpg');
  background-size: cover;
  background-position: center;
} */
@media only screen and (max-width: 992px) {
  .navbar {
    line-height: 1;
  }
}

.navbar .nav-link {
  margin-left: 0 !important;
}

nav img {
  height: 80px;
}

/* Icon 1 */
.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon2 span {
  background: white;
}

.top-nav-collapse .animated-icon2 span {
  background: black;
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

@media (min-width: 993px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
  }
}

@media (max-width: 992px) {
  .navbar .nav-item .nav-link {
    margin-left: 20px;
    display: inline-block;
  }

  .first {
    margin-top: 22px !important;
  }

  .last {
    padding-bottom: 8px;
  }
}
